<div class="home">
    <div class="container">
        <div class="column">
            <img src="../../../assets/tempo/question-mark-909830_1280.png" alt="Question mark icon">
            <h2>¿QUÉ ES EL PRESUPUESTO PARTICIPATIVO?</h2>
            <p>
                El Presupuesto Participativo es un proceso mediante el cual los ciudadanos tienen la oportunidad de decidir cómo se gasta una parte del dinero que el municipio destina para proyectos
                y mejoras en la comunidad. Es una forma de involucrarte directamente en la toma de decisiones sobre el uso del dinero público, eligiendo o proponiendo proyectos que mejoren tu barrio, ciudad o comunidad.
            </p>
        </div>  
        <div class="column">
            <img src="../../../assets/tempo/checklist1.png" alt="Paper icon">
            <h2>¿QUÉ REQUISITOS TIENEN QUE TENER LAS PROPUESTAS?</h2>
            <ul>
                <li>Claridad: Describe tu idea de manera clara y detallada. Explica qué problema soluciona y cómo lo hará.</li>
                <li>Factibilidad: Asegúrate de que tu propuesta sea viable en términos de costos y ejecución.</li>
                <li>Beneficio Comunitario: Tu propuesta debe beneficiar a un grupo de personas o a la comunidad en general.</li>
                <li>Cumplimiento de Normas: La propuesta debe ajustarse a las leyes y regulaciones del municipio.</li>
            </ul>
        </div>
        <div class="column">
            <img src="../../../assets/tempo/document-27664_1280.png" alt="Speech bubble icon">
            <h2>¿CÓMO PRESENTO UNA PROPUESTA PARA 2025?</h2>
            <ul class="homeUl">
                <li>Inicia Sesión: Regístrate en nuestra plataforma e inicia sesión.</li>
                <li>Completa el Formulario: Ve a la sección "Propuestas" y llena el formulario con los detalles y el impacto de tu propuesta.</li>
                <li>Adjunta Documentación: Si es necesario, adjunta documentos de respaldo como presupuestos o planos.</li>
                <li>Envía tu Propuesta: Revisa la información y envíala. Nuestro equipo la revisará y estará disponible para que otros ciudadanos la vean y voten.</li>
            </ul>
        </div>
    </div>
    <h1>Estadisticas</h1>
    <app-statistics class="statistics"></app-statistics>

    <h1>Zonas</h1>
    <img src="../../../assets/images/mapa.png" alt="mapa">

    <h1>FOOTER</h1>
</div>
<app-footer></app-footer>