<div class="projectsContainer">
    
    <app-filter-selection
        [zones]="zones" 
        [states]="states" 
        [years]="years"
        [selectedZone]="selectedZone"
        [selectedState]="selectedState"
        [selectedYear]="selectedYear"
        (zoneChange)="onZoneChange($event)"
        (stateChange)="onStateChange($event)"
        (yearChange)="onYearChange($event)"
    />

    <div class="showProjects" *ngIf="!isLoading; else loading" >
        @for (project of filteredProjects; track project.titulo) {
            <app-project-card
                [project]="project"
                [zones]="zones"
            />
        }
    </div>
</div>

<ng-template #loading>
    <div class="loading-container">
         <mat-spinner></mat-spinner>
    </div>
</ng-template>